.div0 {
    background-color: #000;
    width: 200px;
    height: 200px;
    display: flex;
    color: white;
}

.div1 {
    background-color: #f00;
    width: 200px;
    height: 100px;
    margin: auto;
    position: fixed;
    right: -50px;
    bottom: 50px;
    transform: rotate(90deg);
    /* text-align: center;
    vertical-align: middle; */
}

.div2 {
    background-color: #0f0;
    width: 200px;
    height: 200px;
    margin: auto;
    transform: skew(-20deg, 02deg); /* Vertical, Horizontal */
}

.div3 {
    background-color: #00f;
    width: 200px;
    height: 200px;
    position: fixed;
    transform: rotateX(50deg);
    color: white; 
}
