/* 
    Para que é usado o item @media no CSS ?

    Para alterar as propriedades dos elementos de acordo com a resolução, na qual, a página está.
*/

body{
    background-color: #0F0;
}

@media (min-width: 1000px){
    body{
        background-color: #00F;
    }
    h1{
        font-size: 60px;
    }
}

@media (min-width: 700px) and (max-width: 1000px){
    body{
        background-color: purple;
    }
    h1{
        font-size: 50px;
    }
}
@media (min-width: 300px) and (max-width: 700px){
    body{
        background-color: royalblue;
    }
    h1{
        font-size: 40px;
    }
}
@media (max-width: 300px){
    h1{
        font-size: 14px;
    }
}