body {
    text-align: center;
}

span:before {
    content: "->";
    background-color: #f00;
    border: 1px solid #000;
}

span:after {
    content: "<-";
    background-color: #f00;
    border: 1px solid #000;
}

div {
    background-color: #0f0;
    padding: 20px;
}

div::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f00; 
}