.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    grid-gap: 10px 30px;/* grid-row-gap + grid-column-gap; grid-gap = gap  */
}

.item {
    background-color: #00f;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}